<%- include("../layouts/header"); -%>

    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th scope="col">Count</th>
                <th scope="col">Product Name</th>
                <th scope="col">code</th>
                <th scope="col">Instructor</th>
                <th scope="col">display</th>
                <th scope="col">Action</th>
                <th scope="col">Archive.</th>
                <th>Archive</th>
            </tr>
        </thead>
        <tbody>
            <% webinar.forEach((e,i)=> { %>
                <tr>
                    <th scope="row">
                        <%=i %>
                    </th>
                    <td>
                        <%=e.title %>
                    </td>
                    <td>
                        <%=e.id %>
                    </td>
                    <td>
                        <%=e.name%>
                    </td>
                    <td>
                        yes
                    </td>
                    <td>
                        <a href="/admin/edit_product/<%=e._id %> ">Edit</a>
                        <a href="/admin/delete_product/<%=e._id %> ">Delete</a>
                    </td>
                    <td>
                        <button class="btn btn-success">Add price</button>
                    </td>
                    <td>
                        <a href="/admin/delete_product/<%=e._id %>?archive=1">Archived</a>
                    </td>
                </tr>
                <%}); %>
        </tbody>
    </table>


    <%- include("../layouts/footer"); -%>