<%- include("./layouts/header"); -%>

    <%department.forEach(e=>{%>
        <div class="me-5">
            <input type="checkbox" name="category" id="category" value="<%=e.nameofdepartment%>"
                <%=(categoryList.includes(e.nameofdepartment))? 'checked' :'' %> >
            <%=e.nameofdepartment%>
        </div>
        <% }) %>

            <div class="me-5">
                <input type="checkbox" name="status" id="status" value="live" />
                Live
                <input type="checkbox" name="status" id="status" value="recorded" />
                Recorded
            </div>
            <%allWebinar.forEach(e=> { %>
                <div class="card_one">
                    <div class="content">
                        <div class="image">
                            <img src="/<%=e.image%> " width="100px" height="100px">
                        </div>
                        <div class="title">
                            <h5 class="mr-4">
                                <%=e.title %>
                            </h5>
                            <h5 class="mr-4">
                                <%=e.category %>
                            </h5>
                            <h5 class="me-4">
                                <%= e.time %>
                            </h5>
                            <div class="inside_data">
                                <p>
                                    <%=e.name %>
                                </p>
                                <p>
                                    <%=e.duration %> minutes
                                </p>
                                <p>Product id:<%=e.id %>
                                </p>
                                <p>Product status:<%=e.status %>
                                </p>
                                <p>Product status:<%=e.status %>
                                </p>
                                <p>Product status:<%=e.agenda %>
                                </p>
                            </div>
                            <div class="description">
                                <%- e.description %>
                            </div>
                            <div class="button">
                                <a href="/webinar/allnext/<%=e._id%>">
                                    <button class="btn btn-primary mt-5">More detail</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <%}); %>
                    <script async="false">
                        const checkedCategories = document.querySelectorAll('#category');
                        const checkedStatus = document.querySelectorAll('#status');
                        const route = window.location.href;
                        let queryStr, selectedCategory, unchecked;
                        checkedCategories.forEach((element, i) =>
                            element.addEventListener('click',
                                () => {
                                    if (route.includes('?category=')) {
                                        queryStr = route.split("=");
                                        selectedCategory = queryStr[queryStr.length - 1].split("_");
                                        if (selectedCategory.includes(element.value)) {
                                            unchecked = selectedCategory.filter(value => value !== element.value)
                                            if (selectedCategory.length == 1) return window.location.href = route.split('?')[0]
                                            return window.location.href = (queryStr[0] + '=').concat(unchecked.join('_'))
                                        }
                                        return window.location.href = `${route}${selectedCategory[0].length ? "_" : ""}${element.value}`
                                    };
                                    return window.location.href = `?category=${element.value}`
                                })
                        );

                        // sorting --> status [live, recorded]
                        checkedStatus.forEach(element => {
                            element.addEventListener('change', () => {
                                // check if same query is being raise...
                                if (route.includes(element.value)) {
                                    let indexOfCheckedValue = route.indexOf(element.value);
                                    let redirectRoute = route.split(`${element.value}=${element.checked}`);
                                    // console.log(redirectRoute)
                                    return window.location.href = `${redirectRoute.join('')}`;
                                }
                                // check if something is already queried...
                                if (route.includes('?')) return window.location.href = `${route}+${element.value}=${element.checked}`
                                return window.location.href = `${route}?${element.value}=${element.checked}`
                            })
                        })
                    </script>

                    <%- include("./layouts/footer"); -%>