<%- include("./layouts/header"); -%>
    <%allWebinar.forEach(e=> { %>
        <div class="card_one">
            <div class="content">
                <div class="image">
                    <img src="/<%=e.image%> " width="100px" height="100px">
                </div>
                <div class="title">
                    <h5 class="mr-4">
                        <%=e.title %>
                    </h5>
                    <h5 class="mr-4">
                        <%=e.category %>
                    </h5>
                    <div class="inside_data">
                        <p>
                            <%=e.name %>
                        </p>
                        <p>
                            <%=e.duration %> minutes
                        </p>
                        <p>Product id:<%=e.id %>
                        </p>
                        <p>Product status:<%=e.status %>
                        </p>
                        <p>Product status:<%=e.status %>
                        </p>
                        <p>Product status:<%=e.agenda %>
                        </p>
                    </div>
                    <div class="description">
                        <%- e.description %>
                    </div>
                    <div class="button">
                        <a href="/webinar/allnext">
                            <button class="btn btn-primary mt-5">More detail</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <%}); %>
            <% department.forEach((e,i)=>{%>
                <% if(bool){ %>
                    <% if(e.nameofdepartment==selectedSort) {%>
                        <input type="Checkbox" class='messageCheckbox' name="category" value="<%=e.nameofdepartment%>"
                            onclick="onthebasisofCategory()" checked>
                        <%=e.nameofdepartment %> <br>
                            <% } else{%>
                                <input type="Checkbox" class='messageCheckbox' name="category"
                                    value="<%=e.nameofdepartment%>" onclick="onthebasisofCategory()">
                                <%=e.nameofdepartment %> <br>
                                    <% } %>
                                        <% } %>
                                            <% if(!bool) {%>
                                                <input type="Checkbox" class='messageCheckbox' name="category"
                                                    value="<%=e.nameofdepartment%>" onclick="onthebasisofCategory()">
                                                <%=e.nameofdepartment %> <br>
                                                    <% } %>
                                                        <% }) %>
                                                            <%- include("./layouts/footer"); -%>
                                                                <script>
                                                                    async function onthebasisofCategory() {
                                                                        var category = document.querySelector('.messageCheckbox:checked').value;
                                                                        var checkedValue = document.querySelector('.messageCheckbox:checked')
                                                                        const response = await fetch("/webinar/onthebasisofCategory", {
                                                                            method: "post",
                                                                            headers: {
                                                                                'Content-Type': 'application/json'
                                                                            },
                                                                            body: JSON.stringify({ category })
                                                                        });

                                                                        checkedValue.classList.remove("messageCheckbox");
                                                                        window.location.href = "http://localhost:3000/webinar/searched";
                                                                    }
                                                                </script>