<%- include("./layouts/header"); -%>
    <div class="card_one">
        <div class="content">
            <div class="image">
                <img src="/<%=detailedWebinar.image%>" width="100px" height="100px">
            </div>
            <div class="title">
                <h5 class="mr-4">
                    <%=detailedWebinar.title%>
                        <hr>
                        pacific - <%=detailedWebinar.addtiminginpacific%>
                            <hr>
                            eastern - <%=detailedWebinar.addtimingineastern%>
                </h5>
                <div class="inside_data">
                    <p>
                        <%=detailedWebinar.name%>
                    </p>
                    <p>
                        <%=detailedWebinar.duration%> minutes
                    </p>
                    <p>Product id:<%=detailedWebinar.id %>
                    </p>
                </div>
                <div class="description">
                    <%=detailedWebinar.description%>
                </div>
            </div>
        </div>
        <div class="content2">
            <h4> Why should you attend?</h4>
            <p>
                <%-detailedWebinar.advantageous%>
            </p>
        </div>
        <h4>Area covered in the webinar</h4>
        <p>
            <%-detailedWebinar.abouttopic %>
        </p>
        <h4>who will benefit</h4>
        <p>
            <%-detailedWebinar.bestfor %>
        </p>
    </div>
    <div class="card">
        <form method="post" action="/cart/<%=detailedWebinar._id %>">
            <div class="form-group mb-3 mx-3">
                <label for="types">pricing</label>
                <select name="purchasecategory" id="price">
                    <% purchase.forEach(p=>{%>
                        <option value="<%=p.nameofpurchase%>">
                            <%=p.nameofpurchase%>
                        </option>
                        <% }) %>
                </select>
            </div>
            <button type="submit" class="btn btn-primary mt-5 text-center">Buy Now</button>
        </form>
    </div>

    <%- include("./layouts/footer"); -%>